<br> 
<center><img src="https://i.imgur.com/hkb7Bq7.png" width="500"></center>

# [Session 2: Introduction to Python](https://github.com/eScienceWinterSchool/RRStudioSession)


_____

### Prof. José Manuel Magallanes, PhD 
* Visiting Professor of Computational Policy at Evans School of Public Policy and Governance, and eScience Institute Senior Data Science Fellow, University of Washington.
* Professor of Government and Political Methodology, Pontificia Universidad Católica del Perú. 

_____

## Data Structures

Python has basic native structures, like lists, tuples and dictionaries.

* **LISTS** are the most flexible structure.

In [ ]:
names=["Qing", "Françoise", "Raúl", "Bjork"]
ages=[32,33,28,30]
country=["China", "Senegal", "Spain", "Norway"]
education=["Bach", "Bach", "Master", "PhD"]

Above we have created some lists. Lists can contain any values. Lists support different operations:

In [ ]:
# new list:
myList=[1,2,3,4,5,6,7]

# see first element:
myList[0]

In [ ]:
# change 1 to 11:
myList[0]=11
myList

In [ ]:
# slice of a list:
myList[2:-1]

In [ ]:
# getting rid of an element
del myList[1]
myList

In [ ]:
# getting rid of several elements
del myList[2:5]
myList

* **DICTIONARIES** (or _dicts_) work in a more sophisticated way, as they have a 'key':'value' structure:

In [ ]:
myProperty={'house':False,'car':True,'bike':True,'Yatch':False}
myProperty

Dictionaries do not use indexes to access values:

In [ ]:
myProperty[0]

It uses keys:

In [ ]:
myProperty['house']

Dictionaries are very flexible, they allow this:

In [ ]:
# now in a dict:
data={'names':names, 'ages':ages, 'country':country, 'education':education}
data

You see that I have created a dictionary where each element is a list.

* **TUPLES** are inmutable structures in Python, they look like lists:

In [ ]:
# new list:
myTuple=(1,2,3,4,5,6,7)

# see first element:
myTuple[0]

In [ ]:
# slice of a tuple:
myTuple[2:-1]

In [ ]:
# but no replacement:

# change 1 to 11?
myTuple[0]=11
myTuple

In [ ]:
# but no deleting:

# change 1 to 11?
del myTuple[0]
myTuple

Python itself uses tuples as output of some important functions:

In [ ]:
zip(names,ages)

The **zip** functions creates tuples, by combining in parallel:

In [ ]:
list(zip(names,ages))  # a list of tuples

**Data frames**  are more complex containers of values. The most common analogy is a spreadsheet. To create a data frame, we need to call **pandas**:

In [ ]:
import pandas

We can prepare a data from a dict:

In [ ]:
data

In [ ]:
#then

students=pandas.DataFrame(data)
# seeing it:
students

Sometimes, Python users code like this:

In [ ]:
import pandas as pd # renaming the library

students=pd.DataFrame(data)
students

Or like this:

In [ ]:
from pandas import DataFrame as df # calling a function from the library and renaming the function name

students=df(data)
students

The command *type()*  is similar tells us what we have:

In [ ]:
type(students)

You can get more information on the data types like this (as _str()_ in R):

In [ ]:
students.dtypes

The _info()_ function can get you more details:

In [ ]:
students.info()

The data frames in pandas behave much like in R:

In [ ]:
#one particular column
students.names

In [ ]:
# or
students['names'] # it is not the same as: students[['names']]

In [ ]:
# it is not the same as: 
students[['names']] # a data frame, not a column (or series)

In [ ]:
# two columns
students.iloc[:,[1,3]]

In [ ]:
# this is also a DF
students[['country','names']]

In [ ]:
## Using positions is the best way to get several columns:
students.iloc[:,1:4]

Deleting a column:

In [ ]:
# This is what you want get rid of:
byeColumns=['education']

#this would change the original: students.drop(byeColumns,axis=1,inplace=False)
studentsNoEd=students.drop(byeColumns,axis=1)

# this is a new DF
studentsNoEd

You can modify any values in a data frame. Let me create a **deep** copy of this data frame to play with:

In [ ]:
studentsCopy=students.copy()
studentsCopy

Then,

In [ ]:
# I can change the age of Qing to 23 replacing 32:
studentsCopy.iloc[0,1]=23 # change is immediate! (no warning)
studentsCopy

In [ ]:
# I can reset a column as **missing**:
studentsCopy.country=None
studentsCopy

In [ ]:
# And, delete a column by droping it:
studentsCopy.drop(index=['ages'],axis=1,inplace=True) # axis=1 is column
studentsCopy

One important detail when erasing rows, is to reset the indexes:

In [ ]:
# another copy for you to see the difference:
studentsCopy2=students.copy()
studentsCopy2

In [ ]:
# drop third row 
studentsCopy2.drop(index=2,axis=0)

Here you can see the difference between **loc** and **iloc**:

In [ ]:
studentsCopy2.drop(index=2,axis=0,inplace=True) 
studentsCopy2.iloc[2,:]

In [ ]:
studentsCopy2.loc[2,:]

In [ ]:
studentsCopy2.loc[3,:]

In [ ]:
studentsCopy2.iloc[3,:]

If you need that both give the same result, you need to reset the index:

In [ ]:
studentsCopy2=students.copy() # just the copy
studentsCopy2.drop(2,0,inplace=True) # deleting row
studentsCopy2.reset_index(drop=True,inplace=True) # resetting index

# you get:
studentsCopy2

Pandas offers some practical functions:

In [ ]:
# rows and columns
studentsCopy2.shape # dim(meals) in R

In [ ]:
# length:
len(studentsCopy2) # length in R gives number of columns, here you get number of rows.

You also have _tail_ and _head_ functions in Pandas, to get some top or bottom rows:

In [ ]:
students.head(2) #and students.tail(2)

You can also see the column names like this:

In [ ]:
# similar to names() in R
students.columns

If you needed the column names as a list:

In [ ]:
students.columns.tolist()

# or simply:
# list(students)

If you needed a column values as a list:

In [ ]:
students.ages.tolist()

# or simply:
# list(students.ages)

## Data Pre processing

<a id='beginning'></a>

Preprocessing includes two stages:

1. [Cleaning](#part2) 
2. [Formatting](#part3)

_____
<a id='part2'></a>

### Cleaning

This commmon webpage has a table that may be needed:

In [87]:
wikiLink="https://en.wikipedia.org/wiki/List_of_freedom_indices"


import IPython
iframe = '<iframe src=' + wikiLink + ' width=700 height=350></iframe>'
IPython.display.HTML(iframe)

Let's try to get the sortable table using pandas:

In [89]:
import pandas as pd

wikiTables=pd.read_html(wikiLink,header=0,attrs={'class': 'wikitable sortable'})

I tried to get all those tables. I might have more than one:

In [90]:
# What do I have? / How many?
type(wikiTables), len(wikiTables)

(list, 1)

I need to recover the first table from the list (the only one).

In [91]:
DF=wikiTables[0]

#what is it?
type(DF)

pandas.core.frame.DataFrame

Great!...we have a data frame; then:

In [92]:
DF.head()

,Country,Freedom in the World 2018[10],2018 Index of Economic Freedom[11],2018 Press Freedom Index[3],2017 Democracy Index[13]
0,Abkhazia,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN
2,Albania,NaN,NaN,NaN,NaN
3,Algeria,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN

This data frame does not look like the one we see on the website. We need to improve the call:

In [93]:
# install 'beautifulsoup4'
DF=pd.read_html(wikiLink,header=0,flavor='bs4',attrs={'class': 'wikitable sortable'})[0]
DF.head()

,Country,Freedom in the World 2018[10],2018 Index of Economic Freedom[11],2018 Press Freedom Index[3],2017 Democracy Index[13]
0,Abkhazia,partly free,NaN,NaN,NaN
1,Afghanistan,not free,mostly unfree,difficult situation,authoritarian regime
2,Albania,partly free,moderately free,noticeable problems,hybrid regime
3,Algeria,not free,repressed,difficult situation,authoritarian regime
4,Andorra,free,NaN,satisfactory situation,NaN

Combining BeautifulSoup (BS) and Pandas gave us the right result. But our work is not over.

Pay attention to the cleaning pandas+BS have done: the 'n/a' was interpreted as **NaN**; no country flags in the data; and the headers are in the right place. 

However, to prepare a final data set, we should pay attention to the headers names to avoid _blanks_, and erase the _footnote_ call.

We can have two strategies:
* Brute-force!

In [94]:
# if we had a small number of names to change, we can use brute-force strategy:
DF.columns=['Country',
 'FreedomintheWorld',
 'IndexofEconomicFreedom',
 'PressFreedomIndex',
 'DemocracyIndex']
DF.head()

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Abkhazia,partly free,NaN,NaN,NaN
1,Afghanistan,not free,mostly unfree,difficult situation,authoritarian regime
2,Albania,partly free,moderately free,noticeable problems,hybrid regime
3,Algeria,not free,repressed,difficult situation,authoritarian regime
4,Andorra,free,NaN,satisfactory situation,NaN

* Using more computational thinking (algorithmic):

In [96]:
# if we had many columns, writing an algorith to rename the columns could be better:

# recalling the data:
DF=pd.read_html(wikiLink,header=0,flavor='bs4',attrs={'class': 'wikitable sortable'})[0]
DF.columns

Index(['Country', 'Freedom in the World 2018[10]',
       '2018 Index of Economic Freedom[11]', '2018 Press Freedom Index[3]',
       '2017 Democracy Index[13]'],
      dtype='object')

I just recalled the data to do several steps:

1. Find blanks.
2. Find numbers.
3. Find brackets (opening and closing).

The previous requires a **regular expresssion**:

In [98]:
import re  # may need to be installed:

# find blanks: \\s+
# find numbers: \\d+
# find opening bracket : \\[
# find closing bracket: \\]

# You can combine using '|' (or):
pattern='\\s+|\\d+|\\[|\\]'
nothing=''

Now, let's see how this works for one case:

In [99]:
testString='Freedom in the World 2018[10]'
re.sub(pattern,nothing,testString)

'FreedomintheWorld'

Now, let's see how this works for ALL cases:

In [100]:
[re.sub(pattern,nothing,name) for name in DF.columns]

['Country',
 'FreedomintheWorld',
 'IndexofEconomicFreedom',
 'PressFreedomIndex',
 'DemocracyIndex']

We can verify we are matching well:

In [101]:
newNames=[re.sub(pattern,nothing,name) for name in DF.columns]

# checking:
list(zip(DF.columns,newNames))

[('Country', 'Country'),
 ('Freedom in the World 2018[10]', 'FreedomintheWorld'),
 ('2018 Index of Economic Freedom[11]', 'IndexofEconomicFreedom'),
 ('2018 Press Freedom Index[3]', 'PressFreedomIndex'),
 ('2017 Democracy Index[13]', 'DemocracyIndex')]

Let's turn that match into a dictionary:

In [102]:
{old:new for old,new in zip(DF.columns,newNames)}

{'Country': 'Country',
 'Freedom in the World 2018[10]': 'FreedomintheWorld',
 '2018 Index of Economic Freedom[11]': 'IndexofEconomicFreedom',
 '2018 Press Freedom Index[3]': 'PressFreedomIndex',
 '2017 Democracy Index[13]': 'DemocracyIndex'}

Once you have a dict like that one, you can use it to rename the columns with another function:

In [103]:
changes={old:new for old,new in zip(DF.columns,newNames)}

DF.rename(columns=changes,inplace=True)

If you had a set of new names, and you do not want to change every column name, that is the correct way to do it.

Let's see the result:

In [104]:
DF.head()

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Abkhazia,partly free,NaN,NaN,NaN
1,Afghanistan,not free,mostly unfree,difficult situation,authoritarian regime
2,Albania,partly free,moderately free,noticeable problems,hybrid regime
3,Algeria,not free,repressed,difficult situation,authoritarian regime
4,Andorra,free,NaN,satisfactory situation,NaN

A next step will be verifying if the answers are well coded:

In [105]:
DF.iloc[:,1::].describe()

,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
count,206,180,189,167
unique,3,5,5,4
top,free,mostly unfree,noticeable problems,flawed democracy
freq,89,63,63,56

What were you looking for? 
Sometimes a category may be wrongly written in a cell, for instance, if you had 'Free' and 'free' or 'free ' to represent the same in one column, you have a mistake. Let's see if there is one here:

In [106]:
DF.FreedomintheWorld.value_counts()

free           89
partly free    62
not free       55
Name: FreedomintheWorld, dtype: int64

 What we see is that this variable has its own correct set of answers. 
 
 We can try that approach for each variable, but we can check the whole group of categorical values like thisL

In [116]:
# DF.iloc[:,1::] all columns but the first one
# apply(set)  apply the function 'set()'  per column (get unique values)
# tolist() convert to a list 

DF.iloc[:,1::].apply(set).tolist()

[{'free', nan, 'not free', 'partly free'},
 {'free', 'moderately free', 'mostly free', 'mostly unfree', nan, 'repressed'},
 {'difficult situation',
  'good situation',
  nan,
  'noticeable problems',
  'satisfactory situation',
  'very serious situation'},
 {'authoritarian regime',
  'flawed democracy',
  'full democracy',
  'hybrid regime',
  nan}]

[Go to page beginning](#beginning)
____
<a id='part3'></a>
### Formatting

The data seems _clean_, but we need now to be sure the information is in the right format. This varies according to the project; so, let me show you some steps during of the formatting stage.

1. Verify the data types:

In [117]:
DF.dtypes

Country                   object
FreedomintheWorld         object
IndexofEconomicFreedom    object
PressFreedomIndex         object
DemocracyIndex            object
dtype: object

All but the first variable are categories, not text (_object_). To convert them into categories you can do this:

In [119]:
headerNames=DF.columns
DF[headerNames[1:]]=DF[headerNames[1:]].astype('category')

When a variable is of categorical type, you can use particular functions for them:

In [120]:
DF.FreedomintheWorld.cat.categories

Index(['free', 'not free', 'partly free'], dtype='object')

In [121]:
DF.IndexofEconomicFreedom.cat.categories

Index(['free', 'moderately free', 'mostly free', 'mostly unfree', 'repressed'], dtype='object')

In [122]:
DF.PressFreedomIndex.cat.categories

Index(['difficult situation', 'good situation', 'noticeable problems',
       'satisfactory situation', 'very serious situation'],
      dtype='object')

In [123]:
DF.DemocracyIndex.cat.categories

Index(['authoritarian regime', 'flawed democracy', 'full democracy',
       'hybrid regime'],
      dtype='object')

2. If ordinal, make the adjustment.

The order in which the categories differentiate a plain categorical from an ordinal categorical. They should be categorical but the order does not reflect the order it should. 

We can turn it into an ordinal doing the following:

a. Find a good numeric sequence for the ordinal values:

In [124]:
# notice I am using the numbers in the same order as the list of categorical values:
oldFree=list(DF.FreedomintheWorld.cat.categories)

# '5 very good' / '4 good' / '3 middle' / '2 bad' / '1 very bad'

newFree=[5,1,3]
recodeFree={old:new for old,new in zip (oldFree,newFree)}

oldEco=list(DF.IndexofEconomicFreedom.cat.categories)
newEco=[5,3,4,2,1]
recodeEco={old:new for old,new in zip (oldEco,newEco)}

oldPress=list(DF.PressFreedomIndex.cat.categories)
newPress=[2,5,3,4,1]
recodePress={old:new for old,new in zip (oldPress,newPress)}

oldDemo=list(DF.DemocracyIndex.cat.categories)
newDemo=[1,4,5,2]
recodeDemo={old:new for old,new in zip (oldDemo,newDemo)}

b. Rename the still plain categorical:

In [125]:
DF.FreedomintheWorld.cat.rename_categories(recodeFree,inplace=True)

DF.IndexofEconomicFreedom.cat.rename_categories(recodeEco,inplace=True)

DF.PressFreedomIndex.cat.rename_categories(recodePress,inplace=True)

DF.DemocracyIndex.cat.rename_categories(recodeDemo,inplace=True)

# veamos:
DF.head(10)

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Abkhazia,3,NaN,NaN,NaN
1,Afghanistan,1,2.0,2.0,1.0
2,Albania,3,3.0,3.0,2.0
3,Algeria,1,1.0,2.0,1.0
4,Andorra,5,NaN,4.0,NaN
5,Angola,1,1.0,2.0,1.0
6,Antigua and Barbuda,5,NaN,4.0,NaN
7,Argentina,5,2.0,3.0,4.0
8,Armenia,3,3.0,3.0,2.0
9,Australia,5,5.0,4.0,5.0

c. Now turn the renamed columns into a numeric values:

In [126]:
DF[headerNames[1:]]=DF[headerNames[1:]].apply(pd.to_numeric)

Let me verify:

In [127]:
DF.head()

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Abkhazia,3.0,NaN,NaN,NaN
1,Afghanistan,1.0,2.0,2.0,1.0
2,Albania,3.0,3.0,3.0,2.0
3,Algeria,1.0,1.0,2.0,1.0
4,Andorra,5.0,NaN,4.0,NaN

3. Try solving missing data presence

The data has some missing data:

In [128]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 5 columns):
Country                   207 non-null object
FreedomintheWorld         206 non-null float64
IndexofEconomicFreedom    180 non-null float64
PressFreedomIndex         189 non-null float64
DemocracyIndex            167 non-null float64
dtypes: float64(4), object(1)
memory usage: 8.2+ KB

Now comes the thinking: How to replace the missing values?

Python can easily find and replace every missing value; but our strategy will be different:

* _Freedom in the World_ has the least missing values, we will use this variable to see how the others behave.

* Since the variables are ordinals (even though they are numbers now) a good candidate to impute a missing is the median NOT the mean (you can not compute the mean of an ordinal).

Let's see:

In [129]:
#median per group: 
DF.groupby('FreedomintheWorld')[headerNames[2:]].median()

                   IndexofEconomicFreedom  PressFreedomIndex  DemocracyIndex
FreedomintheWorld
1.0                                   2.0                2.0             1.0
3.0                                   2.0                3.0             2.0
5.0                                   3.0                4.0             4.0

We need to replace those medians whenever a missing value is found:

In [130]:
for col in headerNames[2:]:
    # in each column, get median by FIW group, and use it to replace the missing values.
    DF[col].fillna(DF.groupby(["FreedomintheWorld"])[col].transform("median"), inplace=True)

In [131]:
DF.head(20)

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Abkhazia,3.0,2.0,3.0,2.0
1,Afghanistan,1.0,2.0,2.0,1.0
2,Albania,3.0,3.0,3.0,2.0
3,Algeria,1.0,1.0,2.0,1.0
4,Andorra,5.0,3.0,4.0,4.0
5,Angola,1.0,1.0,2.0,1.0
6,Antigua and Barbuda,5.0,3.0,4.0,4.0
7,Argentina,5.0,2.0,3.0,4.0
8,Armenia,3.0,3.0,3.0,2.0
9,Australia,5.0,5.0,4.0,5.0
10,Austria,5.0,4.0,5.0,5.0
11,Azerbaijan,1.0,3.0,1.0,1.0
12,Bahamas,5.0,3.0,4.0,4.0
13,Bahrain,1.0,3.0,1.0,1.0
14,Bangladesh,3.0,2.0,2.0,2.0
15,Barbados,5.0,2.0,4.0,4.0
16,Belarus,1.0,2.0,2.0,1.0
17,Belgium,5.0,3.0,5.0,4.0
18,Belize,5.0,2.0,4.0,4.0
19,Benin,5.0,2.0,3.0,2.0

We can send this to R, in a simple CSV format:

In [ ]:
#DF.to_csv("indexes.csv",index=None)

______

## More examples

### Case: Democracy Index

Let me clean a similar data from wikipedia, about democracy index:

In [ ]:
import pandas as pd #location:
demoLink = "https://en.wikipedia.org/wiki/Democracy_Index" 

#collection
demodex=pd.read_html(demoLink,header=0,flavor='bs4',attrs={'class': 'wikitable sortable'})[0]

1. Looking for messiness:

In [ ]:
# what's on top?
# names? weird symbols? more links?
demodex.head(10)

In [ ]:
# what's at the bottom?
# note? credits? extra info?

demodex.tail(10)

First, we see a column that have some messiness (symbol "=" in rank), but which can be deleted as their information is not relevant. Let me get rid of the _Score_, as it is just the mean of the other ones. The last row is the repetition of the headers, so that one should go, too:

In [ ]:
#bye row 167, and two columns
demodexClean=demodex.drop(index=167,columns=['Rank','Score'])

In [ ]:
demodexClean

As there are few names, we can change to smaller sizes:

In [ ]:
newNames=['plularism','effectiveness','participation','culture','liberties']

# names from the second and before the last one '[1:-1]':
newMapper={old:new for old,new in zip(demodexClean.columns[1:-1],newNames)}

demodexClean.rename(columns=newMapper,inplace=True)

In [ ]:
# this is what we have so far:
demodexClean.head()

It looks good so far. Let's go to formatting.

2. Giving the rigth format:

In [ ]:
# checking data types:
demodexClean.dtypes

Above, we realized the need to make some indices into numeric:

In [ ]:
demodexClean[newNames]=demodexClean[newNames].apply(pd.to_numeric)

The last one is a categorical variable:

In [ ]:
demodexClean.Category.value_counts()

When you have text, you could get the unique values of a column like this:

In [ ]:
pd.unique(demodexClean.Category).tolist()

Then, you can prepare the map to recode the values:

In [ ]:
oldValues=pd.unique(demodexClean.Category).tolist()
newValues=[4,3,2,1]
mapNewOld={old:new for old,new in zip(oldValues,newValues)}
mapNewOld

You can do it in this way:

In [ ]:
demodexClean.Category.replace(mapNewOld,inplace=True)

In [ ]:
# or this one:
# demodexClean.Category=demodexClean.Category.replace(mapNewOld)

You can save it as a category, but that will be lost if sent to R:

In [ ]:
demodexClean.Category=demodexClean.Category.astype('category')

In [ ]:
demodexClean['Category'].cat.categories

In [ ]:
# checking missing values

demodexClean.info()

This data is now ready for R.

In [ ]:
# demodexClean.to_csv("democracyIndex.csv",index=None)

### The case of Medicare:

Here I will use data from [Medicare Beneficiary Enrollment and Demographics](https://dev.socrata.com/foundry/data.wa.gov/2cup-2fnu)

In [ ]:
import requests

# This time I am talking to the API from DATA.WA.GOV
url = "https://data.wa.gov/resource/2cup-2fnu.json?year=2014"
response = requests.get(url)
if response.status_code == 200:
    medicare = response.json()

In [ ]:
# turning json into DF:
medicare2014 = pd.DataFrame(medicare)

In [ ]:
medicare2014.head()

In [ ]:
medicare2014.tail()

The first row is the total, it has to go:

In [ ]:
#this one?
medicare2014.drop(index=0).head()

In [ ]:
#or this one?
medicare2014.drop(index=0).reset_index().head()

In [ ]:
#or this one?
medicare2014.drop(index=0).reset_index(drop=True).head()

When we use inplace, we should not concatenate:

In [ ]:
medicare2014.drop(index=0,inplace=True)
medicare2014.reset_index(drop=True,inplace=True)

The result so far:

In [ ]:
medicare2014.head()

In [ ]:
# what we have
medicare2014.dtypes

Notice that the three variables before the last one, and county should be kept as objects, while the other should be numeric:

In [ ]:
# get original order:
original=medicare2014.columns.tolist()
original

In [ ]:
# new order:  (no need for * if one element)
newOrder=[original[3],*original[14:], *original[0:3],*original[4:14],] # using '*'
newOrder

In [ ]:
# there are differenet data types, let me move columns:

medicare2014=medicare2014[newOrder]
medicare2014.head()

2. Formatting

We can give the right format now:

In [ ]:
headerNames=medicare2014.columns
medicare2014[headerNames[4::]]=medicare2014[headerNames[4::]].apply(pd.to_numeric)

In [ ]:
#check data types:
medicare2014.dtypes

We can explore the variables:

In [ ]:
medicare2014.describe(include='all') # to include categorical

In [ ]:
medicare2014.info()

There are some missing values, but we will leave it so. So the last step will be just to save the file:

In [ ]:
# medicare2014.to_csv("medicare2014.csv",index=None)

### Case: Public education:

When you visit the [website](https://nces.ed.gov/ccd/) of the Common Core of Data from the US Department of Education, you can get a data set with detailed information on public schools at the state of Washington:

In [ ]:
dataFile='https://github.com/EvansDataScience/data/raw/master/wapubs.xlsx'
schoolPub=pd.read_excel(dataFile)

1. Looking for messiness:

In [ ]:
schoolPub.head(20)

The first row is not the beginning of the table. We need to skip 11 rows; but pay attention to what you are deleting, as if is telling you how missing values were coded.

In [ ]:
schoolPub=pd.read_excel(dataFile,skiprows=11,na_values=['†','‡','–'])
schoolPub.head()

In [ ]:
#checking the tail:
schoolPub.tail()

The headers have blanks and symbols, getting rid of them here:

In [ ]:
#import re  

pattern='\\*|\\s+'
nothing=''
schoolPub.columns=[re.sub(pattern,nothing,columnName) for columnName in schoolPub.columns]
schoolPub.columns

Clean names allow better exploring. Notice we solved the missing values above. You could have done this instead:

In [ ]:
#symbolsForNA=['†','‡','–'] 

#import numpy as np  #numpy manages the nan for pandas
#schoolPub.replace(symbolsForNA,np.nan,inplace=True) # in the whole data frame!!

2. Formatting

In [ ]:
schoolPub.dtypes

Even though we cleaned the missing values, there might be more in the text columns that may be hidden. Obviously, 'SchoolName','District','CountyName','StreetAddress','City','State' are text, but the other are possibly categorical.

So let me explore all the other ones, which are of type _object_:

In [ ]:
notUsed=['SchoolName','District','CountyName','StreetAddress','City','State']
 
# These are the ones without the obvious text columns
schoolPub.drop(notUsed,axis=1).head()

In [ ]:
# # These are the ones without the obvious text columns, but of the type 'object':
schoolPub.drop(notUsed,axis=1).select_dtypes(include='object').head()

We need to see the categories there:

In [ ]:
schoolPub.drop(notUsed,axis=1).select_dtypes(include='object').apply(set).tolist()

We need to take care of the missing value '**N**':

In [ ]:
schoolPub.Locale.value_counts(dropna=False)

Then:

In [ ]:
import numpy as np  #numpy manages the nan for pandas

schoolPub.replace(['N'],np.nan,inplace=True) # in the whole data frame!!

In [ ]:
# So:
schoolPub.Locale.value_counts(dropna=False)

Another important step could be to give add some text to make the school grades a recognizable ordering (considering the file will be read in R:

In [ ]:
# this is wrong:
'PK'<'KG'<'01'

In [ ]:
# this is OK:
'-1 PK'<'0 KG'<'01'

In [ ]:
# using replace:

schoolPub.replace({'PK':"-1 PK", "KG":"0 KG"},inplace=True)

Unless you want to recode other [variables](https://nces.ed.gov/programs/edge/docs/LOCALE_CLASSIFICATIONS.pdf), we could save this file:

In [ ]:
# schoolPub.to_csv("schoolPub.csv",index=None)

### Case: SNAP

In [ ]:
import pandas as pd
dataFile="https://github.com/EvansDataScience/data/raw/master/cntysnap.xls"
snapBen=pd.read_excel(dataFile)

In [ ]:
# first rows:
snapBen.head()

We need to skip some rows:

In [ ]:
# skipping:

snapBen=pd.read_excel(dataFile,skiprows=2)
snapBen.head()

In [ ]:
# check the tail
snapBen.tail()

In [ ]:
# checking names:
snapBen.columns

In [ ]:
# getting rid of blanks:

pattern='\\s+'
nothing=''
snapBen.columns=[re.sub(pattern,nothing,columnName) for columnName in snapBen.columns]

There is a zero FIPS code, take a look:

In [ ]:
snapBen[snapBen['CountyFIPScode']==0]

Those are rows about States. I will keep the counties:

In [ ]:
snapBenUSCounties=snapBen[snapBen['CountyFIPScode']!=0]

In [ ]:
# checking data types:
snapBenUSCounties.dtypes

The counties tell you to what State they belong, so we could use that to create a new column. Let's see a simple example on how to get information from a text:

In [ ]:
# using split,a function for strings:
'Autauga County, AL'.split(', ') # notice the space after the comma
# you get a list:

The **split**, in this case, returns the state in the second position of the list (index=1), then:

In [ ]:
# saving every second element for each element in the column:
states=[element.split(', ')[1] for element in snapBenUSCounties.Name]

# make that list a new column
snapBenUSCounties=snapBenUSCounties.assign(StateName=states)

# checking:
snapBenUSCounties

The new column was created. We could get rid of the state information from the counties column:

In [ ]:
# just keep county names
counties=[element.split(', ')[0] for element in snapBenUSCounties.Name]
snapBenUSCounties=snapBenUSCounties.assign(Name=counties)

In [ ]:
# quick look:

snapBenUSCounties.head() # last column will be ate the end...

We can have a better column order:

In [ ]:
oldNames=snapBenUSCounties.columns.tolist()
oldNames

In [ ]:
newNames=[*oldNames[:2],oldNames[-1],*oldNames[2:-1]]
newNames

In [ ]:
# reordering columns:

snapBenUSCounties=snapBenUSCounties[newNames]
snapBenUSCounties.head()

In [ ]:
# JUST SAVING...
#snapBenUSCounties.to_csv("snapBenUSCounties.csv",index=None)

### Case: Multiple data sets

In [ ]:
corruptLink='https://raw.githubusercontent.com/EvansDataScience/data/master/corruption.csv'
econoLink='https://raw.githubusercontent.com/EvansDataScience/data/master/economic.csv'
enviroLink='https://raw.githubusercontent.com/EvansDataScience/data/master/environment.csv'
pressLink='https://raw.githubusercontent.com/EvansDataScience/data/master/pressfreedom.csv'

* The _corruptlink_ has data about the _Corruption Perception Index_ (CPI) produced by [Transparency International](https://www.transparency.org/).

* The _econoLink_ has data about the _Economic Freedom Index_ (EFI) produced by [Fraser Institute](https://www.fraserinstitute.org).

* The _enviroLink_ has data about the _Environment Performance Index_ (EPI) produced by [Yale University and Columbia University in collaboration with the World Economic Forum](https://epi.envirocenter.yale.edu/).

* The _pressLink_ has data about the _World Press Freedom Index_ (WPFI) produced by [Reporters Without Borders](https://rsf.org/en/world-press-freedom-index).


In this case, I want to join them (not concatenate):

In [ ]:
import pandas as pd
corrupt=pd.read_csv(corruptLink,encoding='Latin-1')
econo=pd.read_csv(econoLink,encoding='Latin-1')
enviro=pd.read_csv(enviroLink,encoding='Latin-1')
press=pd.read_csv(pressLink,encoding='Latin-1')

As each data set has a differing amount of rows (countries), and possibly a different way to name each one, the result will be far from perfect:

In [ ]:
join1=pd.merge(corrupt,econo)
join2=pd.merge(press,enviro)
indexes=pd.merge(join1,join2)

As always it is good to verify the data types:

In [ ]:
indexes.dtypes

And check descriptives:

In [ ]:
indexes.describe(include='all')

In [ ]:
indexes.head()

There is some formatting needed:

Let's order it:

In [ ]:
oldCols=indexes.columns.tolist()
oldCols

When we do not have slices, there is extra work:

In [ ]:
numericIndex=[oldCols[i] for i in [1,3,4,6]]
numericIndex

In [ ]:
newValues=[oldCols[0],oldCols[2],*numericIndex,oldCols[5],oldCols[7]]
newValues

Then, the new order will be:

In [ ]:
indexes=indexes[newValues]
indexes.head()

There are several numeric values. Let's see a summary:

In [ ]:
indexes.describe()

It is important to find some monotony issues in these values:

In [ ]:
% matplotlib inline
import matplotlib.pyplot as plt
pd.plotting.scatter_matrix(indexes.iloc[:,2:6])
plt.show()

Score press is negatively correlated to the rest. That means that the score for that column needs to be reversed:

In [ ]:
# creating reversing function:
def reverse(aColumn):
    return max(aColumn) - aColumn + min(aColumn)

In [ ]:
# reversing using function:
indexes.scorepress=reverse(indexes.scorepress)

We should see a different result:

In [ ]:
pd.plotting.scatter_matrix(indexes.iloc[:,2:6])
plt.show()

The variable _presscat_ needs to be an ordinal factor.

In [ ]:
indexes['presscat'].value_counts()

In [ ]:
indexes['presscat'].replace({'Medium':2, "High":3, "Low":1},inplace=True)

In [ ]:
indexes['presscat'].value_counts(sort=False)

The numbers will help R users when they set it as an ordinal. You can convert them to ordinal, but that information will be lost in R.

In [ ]:
indexes.head()

We are proposing that the categories coded as numbers follow an asceding format, then let's check if _environmentCat_ should be changed:

In [ ]:
indexes['environmentCat'].value_counts()

As there is no need for that, just save the file:

In [ ]:
# indexes.to_csv("indexes.csv",index=None)


____

* [Go to page beginning](#beginning)
* [Go to REPO in Github](https://github.com/EvansDataScience/ComputationalThinking_Gov_2)
* [Go to Course schedule](https://evansdatascience.github.io/GovernanceAnalytics/)